[submodule "/src/thirdparty/curl"]
	path = src/thirdparty/curl
	url = https://github.com/curl/curl.git
	branch = master

[submodule "/src/include/webdriverxx/utils"]
	path = src/include/webdriverxx/utils
	url = https://github.com/GermanAizek/picobase64.git
	branch = origin/master
